$main-color: gold;
$font-bright: #fff;
$font-dark: black;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.btn {
	width: 150px;
	height: 50px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid black;
	font-weight: bold;
	transition: color, background-color 0.6s;
}
.btn-1 {
	color: $font-bright;
	background-color: $main-color;
}
.btn-1:hover {
	background-color: $font-dark;
	color: $main-color;
}

.title {
	margin: 25px auto;
	text-align: center;

	.section-title {
		font-size: 35px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.section-subtitle {
		font-weight: 300;
		font-style: italic;
	}
}

// Header

.header {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0 8%;
	background-image: url(/images/hero-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	// NAV
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav-brand {
			font-size: 36px;
			color: $main-color;
			font-family: "Dancing Script", cursive;
		}

		.nav-links {
			padding: 28px 0;
			text-transform: uppercase;

			li {
				display: inline-block;
				margin: 0 15px;

				a {
					text-decoration: none;
					padding: 5px 0;
					color: $font-bright;
					transition: color 0.5s;
				}

				a:hover {
					color: $main-color;
				}
			}
		}
	}

	.header-text {
		text-align: center;
		margin-top: 30%;

		p {
			font-family: "Great Vibes", cursive;
			font-size: 36px;
		}
		h2 {
			font-size: 48px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

// SERVICES
.services {
	margin: 50px;

	.container {
		margin-top: 50px;

		.service-box {
			text-align: center;
			padding: 15px;

			.box-title {
				margin-bottom: 10px;
			}

			.fa-solid {
				margin-bottom: 20px;
				font-size: 30px;
				line-height: 70px;
				border-radius: 50%;
				color: $main-color;
				width: 70px;
				height: 70px;
				border: solid 2px $main-color;
			}

			p {
				font-weight: 300;
			}
		}
	}
}

// Portfolio
.portfolio {
    padding: 50px;
	background-color: rgb(232, 235, 235);

img{
    width:100%;
}

	.content-wrapper {
		.card {
			.text-box {
				padding: 20px;
				text-align: center;
				background-color: #fff;

				p {
					font-style: italic;
					font-weight: 300;
				}
			}
		}
	}
}
